{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<h1>{{page.title}}</h1>
    <picture>
        {% image page.image width-400 as wide_photo %}
        <source srcset="{{ wide_photo.url }}" media="(min-width: 400px)">
        {% image page.image width-400 class="float-left mr-2" %}
    </picture>

    <p>
        SKU: {{page.sku}}
    </p>

    <p>
        Category: {{page.category}}
    </p>

    <p>
        NRs. {{page.price}}
    </p>
    

    <p>
        {{page.description | richtext}}
    </p>

    
    <!-- {% image page.image fill-640x480 %} -->

    <p>
        {% if page.inStock %}
            In Stock
        {% else %}
            Out Of Stock
        {% endif %}
    </p>

    <form action="{% url "cart:add" page.id%}" 
        method="POST">

            {{cart_add_product_form}}

            {% csrf_token %}

        <input type="submit" 
        value="Add to Cart" 
        class="btn btn-primary">
    </form>

{% endblock %}